USE [master]
GO
/****** Object:  Database [QuanLyPhongMach]    Script Date: 11/05/2023 04:59:01 PM ******/
CREATE DATABASE [QuanLyPhongMach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongMach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyPhongMach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyPhongMach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyPhongMach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongMach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongMach]
GO
/****** Object:  Table [dbo].[BAC_SI]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAC_SI](
	[MA_BAC_SI] [varchar](50) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[CHUYEN_MON] [nvarchar](50) NULL,
	[Password] [nchar](50) NULL,
 CONSTRAINT [PK_BAC_SI] PRIMARY KEY CLUSTERED 
(
	[MA_BAC_SI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENH_NHAN]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENH_NHAN](
	[MA_SO_BENH_NHAN] [varchar](50) NOT NULL,
	[MA_NHAN_VIEN] [varchar](50) NOT NULL,
	[TEN_BENH_NHAN] [nvarchar](50) NULL,
	[NGAY_SINH] [date] NULL,
	[DIA_CHI] [nvarchar](50) NULL,
	[SO_DIEN_THOAI] [varchar](10) NULL,
 CONSTRAINT [PK_BENH_NHAN] PRIMARY KEY CLUSTERED 
(
	[MA_SO_BENH_NHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_DINH]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_DINH](
	[MA_SO_PHIEU_KHAM_BENH] [varchar](50) NOT NULL,
	[MA_XET_NGHIEM] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CHI_DINH] PRIMARY KEY CLUSTERED 
(
	[MA_SO_PHIEU_KHAM_BENH] ASC,
	[MA_XET_NGHIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEM_BENH_NHAN]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEM_BENH_NHAN](
	[count] [int] NULL,
	[date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_THANH_TOAN]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_THANH_TOAN](
	[MA_SO_HOA_DON] [varchar](50) NOT NULL,
	[MA_SO_BENH_NHAN] [varchar](50) NOT NULL,
	[NGAY_LAP_HOA_DON] [date] NULL,
	[TONG_CHI_PHI] [float] NULL,
 CONSTRAINT [PK_HOA_DON_THANH_TOAN] PRIMARY KEY CLUSTERED 
(
	[MA_SO_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KE_TOA]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KE_TOA](
	[MA_SO_PHIEU_KHAM_BENH] [varchar](50) NOT NULL,
	[MA_THUOC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KE_TOA] PRIMARY KEY CLUSTERED 
(
	[MA_SO_PHIEU_KHAM_BENH] ASC,
	[MA_THUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN_TIEP_NHAN]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN_TIEP_NHAN](
	[MA_NHAN_VIEN] [varchar](50) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[NGAY_SINH] [date] NULL,
	[SO__DIEN_THOAI] [text] NULL,
	[Password] [nchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN_TIEP_NHAN] PRIMARY KEY CLUSTERED 
(
	[MA_NHAN_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_KHAM_BENH]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_KHAM_BENH](
	[MA_SO_PHIEU_KHAM_BENH] [varchar](50) NOT NULL,
	[MA_SO_BENH_NHAN] [varchar](50) NOT NULL,
	[MA_BAC_SI] [varchar](50) NOT NULL,
	[TRIEU_CHUNG] [nvarchar](50) NULL,
	[KET_QUA_KHAM_BENH] [nvarchar](50) NULL,
	[NGAY_KHAM_BENH] [date] NULL,
 CONSTRAINT [PK_PHIEU_KHAM_BENH] PRIMARY KEY CLUSTERED 
(
	[MA_SO_PHIEU_KHAM_BENH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUY_DINH]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUY_DINH](
	[Quy_dinh] [nchar](10) NOT NULL,
	[Noi_dung] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_KHAM_BENH]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_KHAM_BENH](
	[MASO] [varchar](50) NOT NULL,
	[MA_SO_BENH_NHAN] [varchar](50) NOT NULL,
	[NGAYMUASO] [date] NULL,
 CONSTRAINT [PK_SO_KHAM_BENH] PRIMARY KEY CLUSTERED 
(
	[MASO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MA_THUOC] [varchar](50) NOT NULL,
	[TEN_THUOC] [nvarchar](50) NULL,
	[GIA_THUOC] [varchar](50) NULL,
	[DON_VI_TINH] [nvarchar](50) NULL,
	[CACH_DUNG] [nvarchar](50) NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MA_THUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XET_NGHIEM]    Script Date: 11/05/2023 04:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XET_NGHIEM](
	[MA_XET_NGHIEM] [varchar](50) NOT NULL,
	[TEN_XET_NGHIEM] [nvarchar](50) NULL,
	[KET_QUA_XET_NGHIEM] [nvarchar](50) NULL,
 CONSTRAINT [PK_XET_NGHIEM] PRIMARY KEY CLUSTERED 
(
	[MA_XET_NGHIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAC_SI] ([MA_BAC_SI], [HO_TEN], [CHUYEN_MON], [Password]) VALUES (N'BS001', N'Sơn Minh Phúc', N'Ngoại Khoa', N'123456                                            ')
INSERT [dbo].[BAC_SI] ([MA_BAC_SI], [HO_TEN], [CHUYEN_MON], [Password]) VALUES (N'BS002', N'Tăng Khải Minh', N'Nội Khoa', N'123456                                            ')
INSERT [dbo].[BAC_SI] ([MA_BAC_SI], [HO_TEN], [CHUYEN_MON], [Password]) VALUES (N'BS003', N'Nguyễn Phạm Minh Giang', N'Tai mũi họng', N'123456                                            ')
GO
INSERT [dbo].[BENH_NHAN] ([MA_SO_BENH_NHAN], [MA_NHAN_VIEN], [TEN_BENH_NHAN], [NGAY_SINH], [DIA_CHI], [SO_DIEN_THOAI]) VALUES (N'BN1225', N'NV001', N'Minh Giang', CAST(N'2000-05-04' AS Date), N'Long Khánh', N'0973256407')
INSERT [dbo].[BENH_NHAN] ([MA_SO_BENH_NHAN], [MA_NHAN_VIEN], [TEN_BENH_NHAN], [NGAY_SINH], [DIA_CHI], [SO_DIEN_THOAI]) VALUES (N'BN1969', N'NV001', N'Văn C', CAST(N'2023-05-08' AS Date), N'Long Khánh', N'0985664758')
INSERT [dbo].[BENH_NHAN] ([MA_SO_BENH_NHAN], [MA_NHAN_VIEN], [TEN_BENH_NHAN], [NGAY_SINH], [DIA_CHI], [SO_DIEN_THOAI]) VALUES (N'BN3826', N'NV001', N'Trần Văn F', CAST(N'2006-05-08' AS Date), N'Cam Ranh', N'0236669587')
GO
INSERT [dbo].[DEM_BENH_NHAN] ([count], [date]) VALUES (3, CAST(N'2023-05-09' AS Date))
GO
INSERT [dbo].[KE_TOA] ([MA_SO_PHIEU_KHAM_BENH], [MA_THUOC]) VALUES (N'MP065', N'MT003')
INSERT [dbo].[KE_TOA] ([MA_SO_PHIEU_KHAM_BENH], [MA_THUOC]) VALUES (N'MP065', N'MT010')
INSERT [dbo].[KE_TOA] ([MA_SO_PHIEU_KHAM_BENH], [MA_THUOC]) VALUES (N'MP065', N'MT029')
GO
INSERT [dbo].[NHAN_VIEN_TIEP_NHAN] ([MA_NHAN_VIEN], [HO_TEN], [NGAY_SINH], [SO__DIEN_THOAI], [Password]) VALUES (N'NV001', N'Sơn Minh Phúc', CAST(N'2003-02-20' AS Date), N'0937230092', N'123456                                            ')
INSERT [dbo].[NHAN_VIEN_TIEP_NHAN] ([MA_NHAN_VIEN], [HO_TEN], [NGAY_SINH], [SO__DIEN_THOAI], [Password]) VALUES (N'NV002', N'Tăng Khải Minh', CAST(N'1999-11-11' AS Date), N'0236514587', N'123456                                            ')
INSERT [dbo].[NHAN_VIEN_TIEP_NHAN] ([MA_NHAN_VIEN], [HO_TEN], [NGAY_SINH], [SO__DIEN_THOAI], [Password]) VALUES (N'NV003', N'Nguyễn Phạm Minh Giang', CAST(N'2004-09-09' AS Date), N'0236658944', N'123456                                            ')
GO
INSERT [dbo].[PHIEU_KHAM_BENH] ([MA_SO_PHIEU_KHAM_BENH], [MA_SO_BENH_NHAN], [MA_BAC_SI], [TRIEU_CHUNG], [KET_QUA_KHAM_BENH], [NGAY_KHAM_BENH]) VALUES (N'MP065', N'BN1225', N'BS001', N'Tê tay, mỏi gối, ê chân', N'Bệnh 1', CAST(N'2023-05-08' AS Date))
GO
INSERT [dbo].[QUY_DINH] ([Quy_dinh], [Noi_dung]) VALUES (N'Quy định 1', N'Mỗi ngày khám tối đa 40 bệnh nhân')
INSERT [dbo].[QUY_DINH] ([Quy_dinh], [Noi_dung]) VALUES (N'Quy định 2', N'Có 5 loại bệnh. Có 30 loại thuốc, 2 loại đơn vị (viên, chai),
có 4 cách dùng (1, 2, 3, 4)
')
INSERT [dbo].[QUY_DINH] ([Quy_dinh], [Noi_dung]) VALUES (N'Quy định 3', N'Tiền khám 30.000. Tiền thuốc chỉ có khi bệnh nhân có dùng
thuốc. Mỗi loại thuốc có đơn giá riêng.
')
GO
INSERT [dbo].[THUOC] ([MA_THUOC], [TEN_THUOC], [GIA_THUOC], [DON_VI_TINH], [CACH_DUNG]) VALUES (N'MT001', N'Thuốc 1', N'10000', N'Chai', N'Cách 4')
INSERT [dbo].[THUOC] ([MA_THUOC], [TEN_THUOC], [GIA_THUOC], [DON_VI_TINH], [CACH_DUNG]) VALUES (N'MT002', N'Thuốc 2', N'10000', N'Viên', N'Cách 4')
INSERT [dbo].[THUOC] ([MA_THUOC], [TEN_THUOC], [GIA_THUOC], [DON_VI_TINH], [CACH_DUNG]) VALUES (N'MT003', N'Thuốc 3', N'10000', N'Chai', N'Cách 1')
GO
ALTER TABLE [dbo].[BENH_NHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENH_NHAN_BENHNHAN_NHAN_VIEN] FOREIGN KEY([MA_NHAN_VIEN])
REFERENCES [dbo].[NHAN_VIEN_TIEP_NHAN] ([MA_NHAN_VIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BENH_NHAN] CHECK CONSTRAINT [FK_BENH_NHAN_BENHNHAN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[CHI_DINH]  WITH CHECK ADD  CONSTRAINT [FK_CHI_DINH_CHI_DINH_PHIEU_KHAM] FOREIGN KEY([MA_SO_PHIEU_KHAM_BENH])
REFERENCES [dbo].[PHIEU_KHAM_BENH] ([MA_SO_PHIEU_KHAM_BENH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_DINH] CHECK CONSTRAINT [FK_CHI_DINH_CHI_DINH_PHIEU_KHAM]
GO
ALTER TABLE [dbo].[CHI_DINH]  WITH CHECK ADD  CONSTRAINT [FK_CHI_DINH_PHIEUKHAM_XET_NGHIEM] FOREIGN KEY([MA_XET_NGHIEM])
REFERENCES [dbo].[XET_NGHIEM] ([MA_XET_NGHIEM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_DINH] CHECK CONSTRAINT [FK_CHI_DINH_PHIEUKHAM_XET_NGHIEM]
GO
ALTER TABLE [dbo].[HOA_DON_THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_BENHNHAN_BENH_NHAN] FOREIGN KEY([MA_SO_BENH_NHAN])
REFERENCES [dbo].[BENH_NHAN] ([MA_SO_BENH_NHAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_THANH_TOAN] CHECK CONSTRAINT [FK_HOA_DON_BENHNHAN_BENH_NHAN]
GO
ALTER TABLE [dbo].[KE_TOA]  WITH CHECK ADD  CONSTRAINT [FK_KE_TOA_PHIEUKHAM_PHIEU_KHAM] FOREIGN KEY([MA_SO_PHIEU_KHAM_BENH])
REFERENCES [dbo].[PHIEU_KHAM_BENH] ([MA_SO_PHIEU_KHAM_BENH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KE_TOA] CHECK CONSTRAINT [FK_KE_TOA_PHIEUKHAM_PHIEU_KHAM]
GO
ALTER TABLE [dbo].[KE_TOA]  WITH CHECK ADD  CONSTRAINT [FK_KE_TOA_PHIEUKHAM_THUOC] FOREIGN KEY([MA_THUOC])
REFERENCES [dbo].[THUOC] ([MA_THUOC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KE_TOA] CHECK CONSTRAINT [FK_KE_TOA_PHIEUKHAM_THUOC]
GO
ALTER TABLE [dbo].[PHIEU_KHAM_BENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_KH_BENHNHAN__BENH_NHA] FOREIGN KEY([MA_SO_BENH_NHAN])
REFERENCES [dbo].[BENH_NHAN] ([MA_SO_BENH_NHAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_KHAM_BENH] CHECK CONSTRAINT [FK_PHIEU_KH_BENHNHAN__BENH_NHA]
GO
ALTER TABLE [dbo].[PHIEU_KHAM_BENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_KH_PHIEUKHAM_BAC_SI] FOREIGN KEY([MA_BAC_SI])
REFERENCES [dbo].[BAC_SI] ([MA_BAC_SI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_KHAM_BENH] CHECK CONSTRAINT [FK_PHIEU_KH_PHIEUKHAM_BAC_SI]
GO
ALTER TABLE [dbo].[SO_KHAM_BENH]  WITH CHECK ADD  CONSTRAINT [FK_SO_KHAM__BENHNHAN__BENH_NHA] FOREIGN KEY([MA_SO_BENH_NHAN])
REFERENCES [dbo].[BENH_NHAN] ([MA_SO_BENH_NHAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SO_KHAM_BENH] CHECK CONSTRAINT [FK_SO_KHAM__BENHNHAN__BENH_NHA]
GO
USE [master]
GO
